## Python Workshop #1: The Basics

### Why Python?

- Easy to write/read python code
- Open-source
- Large amounts of libraries
- Heavily used in data science teams in industry


<!-- - Motivation
- Benefits
- A few drawbacks -->

### Introductory things

- History and high-level description of python
- Hello World
- Syntax (comments, indentation)
- Variable conventions (names + snake_case)

#### History

- Created by Guido van Rossum and first appeared in February of 1991

### Installation

### Data types/structures

In [16]:
# Strings

name = 'John'
print(name)
print('My name is', name)
print(f'My name is {name}') # f-string (do both versions)

first_name = 'John'
last_name = 'Doe'
print('My name is', first_name + last_name)
print('My name is', first_name + ' ' + last_name)

story = '''
I walked to the park with
my dog. It was a sunny day
and I really enjoyed it.
'''

print(story)

restaurant = 'mcdonald\'s'

print(restaurant)
print(restaurant[0])
print(len(restaurant)) # len is another built-in python function

John
My name is John
My name is John
My name is JohnDoe
My name is John Doe

I walked to the park with
my dog. It was a sunny day
and I really enjoyed it.

mcdonald's
m
10

In [23]:
# Numbers

# ints
x = 3
y = 2

print(type(x))
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x ** y)
print(3 % 2)


# floats
x = 1.5
y = 2.5
print(type(x))
print(x**y)
print(int(1.5))


# casting

<class 'int'>
5
1
6
1.5
9
1
<class 'float'>
2.7556759606310752
1

In [52]:
# Booleans

a = True
b = False

In [78]:
# lists (list items are ordered, changeable, and allow duplicates)

cars = ['ford', 'volkswagen', 'tesla', 'honda', 'gmc']
numbers = [2, 1, 3, 4]

print('cars = ', cars)
print(f'There are {len(cars)} cars in my car list.')
print(cars[2:4])

print('numbers = ', numbers)

cars.append('toyota')

print('cars = ', cars)
print(cars[0])

sum_of_numbers = sum(numbers)
min_number = min(numbers)
max_number = max(numbers)
print(sum_of_numbers)
print(min_number)
print(max_number)

sorted_numbers = sorted(numbers)
print(sorted_numbers)

sorted_numbers.pop(0)
print(sorted_numbers)

mixed_list = ['dog', 2, False]

cars =  ['ford', 'volkswagen', 'tesla', 'honda', 'gmc']
There are 5 cars in my car list.
['tesla', 'honda']
numbers =  [2, 1, 3, 4]
cars =  ['ford', 'volkswagen', 'tesla', 'honda', 'gmc', 'toyota']
ford
10
1
4
[1, 2, 3, 4]
[2, 3, 4]

In [63]:
# tuples (ordered and unchangeable; allows duplicate members)

two_dim_coordinate = (1, 3)
print(two_dim_coordinate)

three_dim_coordinate = (2, 2, 5)
print(three_dim_coordinate)
print(three_dim_coordinate[0])
print(len(three_dim_coordinate))

three_dim_coordinate.append(0)

(1, 3)
(2, 2, 5)
2
3

AttributeError: 'tuple' object has no attribute 'append'

In [69]:
# sets: unordered, unchangeable, and unindexed; does not allow duplicate members 

squares = {1, 4, 9, 16}
print(squares)

squares = {1, 4, 4, 9, 16}
print(squares)

{16, 1, 4, 9}
{16, 1, 4, 9}

In [76]:
# dictionary: ordered and changeable; no duplicate members; unique keys (think of a real dictionary)

age = {'John' : 30, 'Maria' : 40, 'Jose' : 35, 'Sandra' : 25}
print(age)
print(age.keys())
print(age.values())
print(age['John'])

age['Donovan'] = 55
print(age)

fibonacci_numbers = {1 : 1, 2 : 1, 3 : 2, 4 : 3, 5 : 5, 6 : 8}

{'John': 30, 'Maria': 40, 'Jose': 35, 'Sandra': 25}
dict_keys(['John', 'Maria', 'Jose', 'Sandra'])
dict_values([30, 40, 35, 25])
30
{'John': 30, 'Maria': 40, 'Jose': 35, 'Sandra': 25, 'Donovan': 55}

In [77]:
# What type of object am I looking at?
# 'type' and other built-in python commands
# python indexing starts at 0

### If-else, loops, and list/dictionary comprehension

In [89]:
a = 10
b = 7
if a < b:
    print('a is less than b')
elif a > b:
    print('a is greater than b')
else:
    print('a is equal to b')

a = 10
b = 7
if a <  b:
    print('a is less than b')
else:
    print('a is greater than or equal to b')

favorite_restaurants = ['canes', 'panda express', 'chick fil a']
restaurant_1 = 'taco bell'
if restaurant_1 in favorite_restaurants:
    print(f'{restaurant_1} is one of my favorite restaurants')
else:
    print(f'{restaurant_1} is not one of my favorite restaurants')

bad_restaurants = ['mcdonalds', 'sonic']
if restaurant_1 not in bad_restaurants:
    print(f'{restaurant_1} is not a bad restaurant')
else:
    print(f'{restaurant_1} is a bad restaurant')

person = {'age' : 8, 'height' : 50}
if person['age'] >= 7 and person['height'] >= 48:
    print('They can ride the rollercoaster')
else:
    print('They cannot ride the rollercoaster')

a is greater than b
a is greater than or equal to b
taco bell is not one of my favorite restaurants
taco bell is not a bad restaurant
They can ride the rollercoaster

In [ ]:
# FizzBuzz exercise (if this does not contain 'or', then do something in addition that does contain an 'or')

In [3]:
# While loops

x = 0

while x <= 5:
    print('x = ', x)
    x += 1

print('out of the loop')

x = 4
while x <= 10:
    if x % 3 == 0:
        print('encountered a multiple of 3, breaking out of the loop')
        break
    print('x = ', x)
    x += 1
print('out of the loop')


# Work on the below
# x = 4
# while x <= 10:
#     if x % 3 == 0:
#         print('encountered a multiple of 3, continuing to the next iteration')
#         continue
#     print('x = ', x)
#     x += 1
# print('out of the loop')

x =  0
x =  1
x =  2
x =  3
x =  4
x =  5
out of the loop
x =  4
x =  5
encountered a multiple of 3, breaking out of the loop
out of the loop

In [ ]:
# For loops

### Functions